@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <NavLink class="navbar-brand" href="">Pigeon</NavLink>
    <EditForm Model="@model" OnSubmit="StartSearching">
        <div class="input-group">
            <InputText @bind-Value="model.SearchString" class="form-control" placeholder="Search Pigeon" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary"><span class="oi oi-magnifying-glass" aria-hidden="true" /></button>
            </div>
        </div>
    </EditForm>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse @NavMenuCssClass" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true" /> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-people" aria-hidden="true" /> Users
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item dropdown @DropDownCssClass">
                <NavLink class="nav-link dropdown-toggle" @onclick="ToggleDropDown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@AuthenticationService.User.FirstName</NavLink>
                <div class="dropdown-menu dropdown-menu-md-right @DropDownCssClass" aria-labelledby="navbarDropdownMenuLink">
                    <NavLink class="dropdown-item" href="friendRequest"><span class="oi oi-people" aria-hidden="true" /> Friend request</NavLink>
                    <NavLink class="dropdown-item" href="profile"><span class="oi oi-person" aria-hidden="true" /> My profile</NavLink>
                    <NavLink class="dropdown-item" href="settings"><span class="oi oi-wrench" aria-hidden="true" /> Settings</NavLink>
                    <div class="dropdown-divider"></div>
                    <NavLink class="dropdown-item" href="logout"><span class="oi oi-account-logout" aria-hidden="true" /> Logout</NavLink>
                </div>
            </li>

        </ul>
    </div>
</nav>

@code {
    private bool collapseDropDown;

    private string DropDownCssClass => collapseDropDown ? "show" : null;

    private void ToggleDropDown()
    {
        collapseDropDown = !collapseDropDown;
    }

    //===========================================================================

    private bool collapseNavMenu;

    private string NavMenuCssClass => collapseNavMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //===========================================================================

    private Model model = new Model();

    private void StartSearching()
    {
        NavigationManager.NavigateTo($"search/{model.SearchString}");
    }

    private class Model
    {
        public string SearchString { get; set; }
    }
}
