@page "/"
@attribute [Authorize]
@inject IAuthenticationService AuthenticationService

<h3>Index</h3>
<p>@AuthenticationService.User.IdUser</p>
<p>@AuthenticationService.User.Email</p>
<p>@AuthenticationService.User.FirstName</p>
<p>@AuthenticationService.User.LastName</p>
<p>@AuthenticationService.User.Gender</p>
<p>@AuthenticationService.User.City</p>
<p>@AuthenticationService.User.Birthday</p>
<p>@AuthenticationService.User.CreateDateTime</p>
<p>@AuthenticationService.User.Verification</p>
<p>@AuthenticationService.User.UserType</p>
<p>@AuthenticationService.User.Token</p>

@code {

}
